html {
	display: block;
	overflow: hidden;
}

body {
	background-color: black;
	background-image: url('assets/JuicedTranslucent.png');
	background-size: 80%, 80%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom right;
	width: 100%;
	height: 100%;
	font-size: 20px;
  	color: red;
  	font-family: 'VT323', monospace;
}

#wrapper {
/*	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -71.44px;
	margin-left: -229.75px;
	display: block;*/
}

a {
	text-decoration: none;
}

ul {
	float: left;
	margin: 0;
}

li {
	margin-top: 4px;
	display: block;
	color: red;
}

#menu {
	min-width: 110px;
	padding-left: 5px;
}

#menu li:hover {
	background-color: #fffff0;
	-webkit-transition: background-color 300ms linear;
	transition: background-color 300ms linear;
}

#cursor {
	margin-left: -49.61px;
}

#cursor li {
	color: black;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

#menu li {
	border-radius: 2px;
	padding-left: 2px;
}

.invisible {
	visibility: hidden;
}

#logo {
	float: left;
	height: 107.16px;
	width: 344.625px;
}

#text-parser {
	position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
	min-width: 250px;
	text-align: center;
	color: red;
}