/*@import url('https://fonts.googleapis.com/css?family=Titillium+Web');*/

html {
	display: block;
	overflow-y: scroll;
	overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

body {
	background-color: #1f2225;
	/*background: linear-gradient(to right, #1f2225, #3d4447, #1f2225);*/
	background-image: url('assets/JuicedTranslucent.png');
	background-size: 40%, 40%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom right;
	width: 100%;
	height: 100%;
	font-size: 16px;
  	color: red;
  	font-family: Krungthep, courier, lucida grande;
}

header {
	width: 100%;
	overflow: hidden;
}

.container {
/*	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -71.44px;
	margin-left: -229.75px;
	display: block;*/
	/*background: #191b1e;*/
	overflow: hidden;
	padding: 10px;
	margin: 10px;
	-moz-box-shadow:    0px 0px 20px #42484f;
    -webkit-box-shadow: 0px 0px 20px #42484f;
    box-shadow:         0px 0px 20px #42484f;
}

#main-logo {
	width: 386.63px;
	color: white;
	font-size: 24px;
	padding-right: 20px;
	-moz-box-shadow:    0px 10px 10px -10px white;
    -webkit-box-shadow: 0px 10px 10px -10px white;
    box-shadow:         0px 10px 10px -10px white;
}

/*#links {
	float: right;
}*/

a {
	text-decoration: none;
	color: inherit;
}

a:visited {
	color: inherit;
	text-decoration: none;
}

ul {
	float: left;
	margin: 0;
}

li {
	margin-top: 2px;
	display: block;
	text-align: right;
}

#menu {
	float: right;
	padding-left: 0px;
}

/*#menu li:hover {
	background-color: #fffff0;
	-webkit-transition: background-color 300ms linear;
	transition: background-color 300ms linear;
}*/

#cursor {
	margin-left: -49.61px;
}

#cursor li {
	color: black;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

#menu li {
	border-radius: 2px;
	padding-left: 2px;
}

.invisible {
	visibility: hidden;
}

#logo {
	float: left;
	height: 107.16px;
	width: 344.625px;
}

#content-wrapper {
	margin-top: 100px;
	float: left;
	width: 100%;
}

#flex-photos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#recent-shows {
	float: left;
	max-width: 400px;
	background-color: #42484f;
	border-radius: 2px;
	font-size: 12px;
	line-height: 1em;
}

#bio-card {
	float: right;
	min-width: 742px;
	background-color: #42484f;
	border-radius: 2px;
}

.card-image {
	width: 200px;
	height: 200px;
	padding: 40px;
	/*float: left;*/
}

#bio {
	max-width: 462px;
	font-size: 12px;
	line-height: 1.3em;
	float: left;
}

/*.fp:hover {
	width: 260px;
	height: 260px;
	opacity: 1;
	padding: 35px;
	-webkit-transition: width .5s, height .5s, opacity .5s, padding .5s; 
    transition: width .5s, height .5s, opacity .5s, padding .5s;
}*/


.btn {
	border-radius: 6px;
	/*text-align: center;*/
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 110px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#email-copy-box {
	position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
	min-width: 250px;
	text-align: center;
	color: red;
}